In [3]:
import pandas as pd

In [17]:
df = pd.read_csv('covid_impact_on_airport_traffic.csv', nrows=2)
df

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
0,Daily,2020-07-05,1.0,Kingsford Smith,52,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
1,Daily,2020-05-28,1.0,Kingsford Smith,61,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [4]:
df = pd.read_csv('drug_poisoning_deaths_by_state-_us_2013_2014-v7.csv')
df

,State,2014Rate,2014Number,2014Range,2013Rate,2013Number,2013Range,Change,Significant
0,ND,6.3,43,2.8 to 11.0,2.8,20,2.8 to 11.0,125.0,Significant
1,NE,7.2,125,2.8 to 11.0,6.5,117,2.8 to 11.0,10.8,Not Significant
2,SD,7.8,63,2.8 to 11.0,6.9,55,2.8 to 11.0,13.0,Not Significant
3,IA,8.8,264,2.8 to 11.0,9.3,275,2.8 to 11.0,-5.4,Not Significant
4,TX,9.7,"2,601",2.8 to 11.0,9.3,"2,446",2.8 to 11.0,4.3,Not Significant
5,MN,9.6,517,2.8 to 11.0,9.6,523,2.8 to 11.0,0.0,Not Significant
6,VA,11.7,980,11.1 to 13.5,10.2,854,2.8 to 11.0,14.7,Significant
7,MS,11.6,336,11.1 to 13.5,10.8,316,2.8 to 11.0,7.4,Not Significant
8,GA,11.9,"1,206",11.1 to 13.5,10.8,"1,098",2.8 to 11.0,10.2,Significant
9,HI,10.9,157,2.8 to 11.0,11.0,158,2.8 to 11.0,-0.9,Not Significant
10,CA,11.1,"4,521",11.1 to 13.5,11.1,"4,452",11.1 to 13.5,0.0,Not Significant
11,AR,12.6,356,11.1 to 13.5,11.1,319,11.1 to 13.5,13.5,Not Significant
12,NY,11.3,"2,300",11.1 to 13.5,11.3,"2,309",11.1 to 13.5,0.0,Not Significant
13,OR,12.8,522,11.1 to 13.5,11.3,455,11.1 to 13.5,13.3,Not Significant
14,KS,11.7,332,11.1 to 13.5,12.0,331,11.1 to 13.5,-2.5,Not Significant
15,IL,13.1,"1,705",11.1 to 13.5,12.1,"1,579",11.1 to 13.5,8.3,Significant
16,FL,13.2,"2,634",11.1 to 13.5,12.6,"2,474",11.1 to 13.5,4.8,Not Significant
17,AL,15.2,723,13.6 to 16.0,12.7,598,11.1 to 13.5,19.7,Significant
18,NC,13.8,"1,358",13.6 to 16.0,12.9,"1,259",11.1 to 13.5,7.0,Not Significant
19,SC,14.4,701,13.6 to 16.0,13.0,620,11.1 to 13.5,10.8,Not Significant
20,ME,16.8,216,16.1 to 18.5,13.2,174,11.1 to 13.5,27.3,Significant
21,WA,13.3,979,11.1 to 13.5,13.4,969,11.1 to 13.5,-0.7,Not Significant
22,ID,13.7,212,13.6 to 16.0,13.4,207,11.1 to 13.5,2.2,Not Significant
23,AK,16.8,124,16.1 to 18.5,14.4,105,13.6 to 16.0,16.7,Not Significant
24,MT,12.4,125,11.1 to 13.5,14.5,137,13.6 to 16.0,-14.5,Not Significant
25,NJ,14.0,"1,253",13.6 to 16.0,14.5,"1,294",13.6 to 16.0,-3.4,Not Significant
26,MD,17.4,"1,070",16.1 to 18.5,14.6,892,13.6 to 16.0,19.2,Significant
27,DC,14.2,96,13.6 to 16.0,15.0,102,13.6 to 16.0,-5.3,Not Significant
28,WI,15.1,853,13.6 to 16.0,15.0,856,13.6 to 16.0,0.7,Not Significant
29,VT,13.9,83,13.6 to 16.0,15.1,93,13.6 to 16.0,-7.9,Not Significant
30,NH,26.2,334,21.0 to 35.5,15.1,203,13.6 to 16.0,73.5,Significant
31,CO,16.3,899,16.1 to 18.5,15.5,846,13.6 to 16.0,5.2,Not Significant
32,MI,18.0,"1,762",16.1 to 18.5,15.9,"1,553",13.6 to 16.0,13.2,Significant
33,CT,17.6,623,16.1 to 18.5,16.0,582,13.6 to 16.0,10.0,Not Significant
34,MA,19.0,"1,289",18.6 to 21.0,16.0,"1,081",13.6 to 16.0,18.8,Significant
35,IN,18.2,"1,172",16.1 to 18.5,16.6,"1,064",16.1 to 18.5,9.6,Significant
36,WY,19.4,109,18.6 to 21.0,17.2,98,16.1 to 18.5,12.8,Not Significant
37,MO,18.2,"1,067",16.1 to 18.5,17.5,"1,025",16.1 to 18.5,4.0,Not Significant
38,LA,16.9,777,16.1 to 18.5,17.8,809,16.1 to 18.5,-5.1,Not Significant
39,TN,19.5,"1,269",18.6 to 21.0,18.1,"1,187",16.1 to 18.5,7.7,Not Significant
40,AZ,18.2,"1,211",16.1 to 18.5,18.7,"1,222",18.6 to 21.0,-2.7,Not Significant
41,DE,20.9,189,18.6 to 21.0,18.7,166,18.6 to 21.0,11.8,Not Significant
42,PA,21.9,"2,732",21.0 to 35.5,19.4,"2,426",18.6 to 21.0,12.9,Significant
43,OK,20.3,777,18.6 to 21.0,20.6,790,18.6 to 21.0,-1.5,Not Significant
44,OH,24.6,"2,744",21.0 to 35.5,20.8,"2,347",18.6 to 21.0,18.3,Significant
45,NV,18.4,545,16.1 to 18.5,21.1,614,21.0 to 35.5,-12.8,Not Significant
46,UT,22.4,603,21.0 to 35.5,22.1,594,21.0 to 35.5,1.4,Not Significant
47,RI,23.4,247,21.0 to 35.5,22.4,241,21.0 to 35.5,4.5,Not Significant
48,NM,27.3,547,21.0 to 35.5,22.6,458,21.0 to 35.5,20.8,Significant
49,KY,24.7,"1,077",21.0 to 35.5,23.7,"1,019",21.0 to 35.5,4.2,Not Significant
50,WV,35.5,627,21.0 to 35.5,32.2,570,21.0 to 35.5,10.2,Not Significant

In [5]:
df = pd.read_csv('death-rate-from-opioid-use.csv')
df

,Entity,Code,Year,Deaths - Opioid use disorders - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,0.610114
1,Afghanistan,AFG,1991,0.622036
2,Afghanistan,AFG,1992,0.634234
3,Afghanistan,AFG,1993,0.656677
4,Afghanistan,AFG,1994,0.684709
...,...,...,...,...
6463,Zimbabwe,ZWE,2013,1.164133
6464,Zimbabwe,ZWE,2014,1.148561
6465,Zimbabwe,ZWE,2015,1.151673
6466,Zimbabwe,ZWE,2016,1.158403
6467,Zimbabwe,ZWE,2017,1.160791