In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import hist
import seaborn as sns
# Set seed of the generator
rng = np.random.default_rng(0)

In [ ]:
rng = np.random.default_rng(0)

# Generate random data for Government Control in Normal Distribution 

# 1950 - 2002: There was very little government control in India
rating_india_1 = rng.normal(1.2, 0.5, size=(1, 53))

# 2003 - 2019: Consumption increased
rating_india_2 = rng.normal(4.1, 0.3, size=(1, 17))

# Round to 1 decimal
R_rating_india_1 = rating_india_1.round(1)
R_rating_india_2 = rating_india_2.round(1)

# Transform Arrays into DataFrames
DF_rating_india_1 = pd.DataFrame(R_rating_india_1)
DF_rating_india_2 = pd.DataFrame(R_rating_india_2)
R_rating_india_1

In [4]:

f = np.linspace(43, 33, 50)
f2 = f /3 * 2.7
print(f, f2)

[43.         42.79591837 42.59183673 42.3877551  42.18367347 41.97959184
 41.7755102  41.57142857 41.36734694 41.16326531 40.95918367 40.75510204
 40.55102041 40.34693878 40.14285714 39.93877551 39.73469388 39.53061224
 39.32653061 39.12244898 38.91836735 38.71428571 38.51020408 38.30612245
 38.10204082 37.89795918 37.69387755 37.48979592 37.28571429 37.08163265
 36.87755102 36.67346939 36.46938776 36.26530612 36.06122449 35.85714286
 35.65306122 35.44897959 35.24489796 35.04081633 34.83673469 34.63265306
 34.42857143 34.2244898  34.02040816 33.81632653 33.6122449  33.40816327
 33.20408163 33.        ] [38.7        38.51632653 38.33265306 38.14897959 37.96530612 37.78163265
 37.59795918 37.41428571 37.23061224 37.04693878 36.86326531 36.67959184
 36.49591837 36.3122449  36.12857143 35.94489796 35.76122449 35.57755102
 35.39387755 35.21020408 35.02653061 34.84285714 34.65918367 34.4755102
 34.29183673 34.10816327 33.9244898  33.74081633 33.55714286 33.37346939
 33.18979592 33.00612245 32.82244898 32.63877551 32.45510204 32.27142857
 32.0877551  31.90408163 31.72040816 31.53673469 31.35306122 31.16938776
 30.98571429 30.80204082 30.61836735 30.43469388 30.25102041 30.06734694
 29.88367347 29.7       ]

In [5]:
rng.poisson(29, 32)

array([31, 15, 31, 35, 36, 33, 36, 26, 32, 31, 32, 32, 22, 29, 29, 39, 30,
       30, 27, 24, 20, 34, 36, 26, 28, 24, 27, 20, 26, 27, 28, 29],
      dtype=int64)

In [6]:
rng = np.random.default_rng(0)

In [7]:
rng = np.random.default_rng(0)
rng.poisson(29, 50)

rng.poisson(16, 20)

array([20, 13, 20, 26, 17, 21, 15, 15,  9, 13, 24, 21, 14, 20, 13, 22, 14,
       21, 23, 21], dtype=int64)

## Low-Income Countries Dataset

### Countries and Years Variables

In [44]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 220)

In [ ]:

# Create a dataframe with 3 empty column
empty_1 = pd.DataFrame({'india' : [np.nan],
                              'indo': [np.nan],
                         'aust': [np.nan],
                       })


# Add 70 rows to the 3 empty column
country_1 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))

# Replacing empty values with coutnry name 
country_1["india"].fillna("India", inplace = True) 
country_1["indo"].fillna("Indonesia", inplace = True) 
country_1["aust"].fillna("Austria", inplace = True)

india = country_1.iloc[:,0:1]

indonesia = country_1.iloc[:,1:2]

austria = country_1.iloc[:,2:3]

new_columns = ["Country"]
india.columns = new_columns
indonesia.columns = new_columns
austria.columns = new_columns

Countries = pd.concat([india, indonesia, austria], ignore_index=True) 
Countries

In [49]:

# Create a dataframe with 3 empty column
empty_1 = pd.DataFrame({'india' : [np.nan],
                              'indo': [np.nan],
                         'aust': [np.nan],
                       })


# Add 70 rows to the 3 empty column
country_1 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))

# Replacing empty values with coutnry name 
country_1["india"].fillna("India", inplace = True) 
country_1["indo"].fillna("Indonesia", inplace = True) 
country_1["aust"].fillna("Austria", inplace = True)

india = country_1.iloc[:,0:1]

indonesia = country_1.iloc[:,1:2]

austria = country_1.iloc[:,2:3]

new_columns = ["Country"]
india.columns = new_columns
indonesia.columns = new_columns
austria.columns = new_columns

Countries = pd.concat([india, indonesia, austria], ignore_index=True) 
Countries

       Country
0        India
1        India
2        India
3        India
4        India
5        India
6        India
7        India
8        India
9        India
10       India
11       India
12       India
13       India
14       India
15       India
16       India
17       India
18       India
19       India
20       India
21       India
22       India
23       India
24       India
25       India
26       India
27       India
28       India
29       India
30       India
31       India
32       India
33       India
34       India
35       India
36       India
37       India
38       India
39       India
40       India
41       India
42       India
43       India
44       India
45       India
46       India
47       India
48       India
49       India
50       India
51       India
52       India
53       India
54       India
55       India
56       India
57       India
58       India
59       India
60       India
61       India
62       India
63       India
64       India
65       India
66       India
67       India
68       India
69       India
70   Indonesia
71   Indonesia
72   Indonesia
73   Indonesia
74   Indonesia
75   Indonesia
76   Indonesia
77   Indonesia
78   Indonesia
79   Indonesia
80   Indonesia
81   Indonesia
82   Indonesia
83   Indonesia
84   Indonesia
85   Indonesia
86   Indonesia
87   Indonesia
88   Indonesia
89   Indonesia
90   Indonesia
91   Indonesia
92   Indonesia
93   Indonesia
94   Indonesia
95   Indonesia
96   Indonesia
97   Indonesia
98   Indonesia
99   Indonesia
100  Indonesia
101  Indonesia
102  Indonesia
103  Indonesia
104  Indonesia
105  Indonesia
106  Indonesia
107  Indonesia
108  Indonesia
109  Indonesia
110  Indonesia
111  Indonesia
112  Indonesia
113  Indonesia
114  Indonesia
115  Indonesia
116  Indonesia
117  Indonesia
118  Indonesia
119  Indonesia
120  Indonesia
121  Indonesia
122  Indonesia
123  Indonesia
124  Indonesia
125  Indonesia
126  Indonesia
127  Indonesia
128  Indonesia
129  Indonesia
130  Indonesia
131  Indonesia
132  Indonesia
133  Indonesia
134  Indonesia
135  Indonesia
136  Indonesia
137  Indonesia
138  Indonesia
139  Indonesia
140    Austria
141    Austria
142    Austria
143    Austria
144    Austria
145    Austria
146    Austria
147    Austria
148    Austria
149    Austria
150    Austria
151    Austria
152    Austria
153    Austria
154    Austria
155    Austria
156    Austria
157    Austria
158    Austria
159    Austria
160    Austria
161    Austria
162    Austria
163    Austria
164    Austria
165    Austria
166    Austria
167    Austria
168    Austria
169    Austria
170    Austria
171    Austria
172    Austria
173    Austria
174    Austria
175    Austria
176    Austria
177    Austria
178    Austria
179    Austria
180    Austria
181    Austria
182    Austria
183    Austria
184    Austria
185    Austria
186    Austria
187    Austria
188    Austria
189    Austria
190    Austria
191    Austria
192    Austria
193    Austria
194    Austria
195    Austria
196    Austria
197    Austria
198    Austria
199    Austria
200    Austria
201    Austria
202    Austria
203    Austria
204    Austria
205    Austria
206    Austria
207    Austria
208    Austria
209    Austria

### Country Variable

### Prevelance Variable

##### India

In [12]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
prevalence_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_prevalence_india_1 = prevalence_india_1.round(1)
R_prevalence_india_2 = prevalence_india_2.round(1)

# Transform Arrays into DataFrames
DF_prevalence_india_1 = pd.DataFrame(R_prevalence_india_1)
DF_prevalence_india_2 = pd.DataFrame(R_prevalence_india_2)

##### Indonesia

In [13]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: % of population increased
prevalence_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_prevalence_indo_1 = prevalence_indo_1.round(1)
R_prevalence_indo_2 = prevalence_indo_2.round(1)

# Transform Arrays into DataFrames
DF_prevalence_indo_1 = pd.DataFrame(R_prevalence_indo_1)
DF_prevalence_indo_2 = pd.DataFrame(R_prevalence_indo_2)

##### Austria

In [14]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: % of population decreased
prevalence_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_prevalence_aust_1 = prevalence_aust_1.round(1)
R_prevalence_2 = prevalence_aust_2.round(1)

# Round to 1 decimal
R_prevalence_aust_1 = prevalence_aust_1.round(1)
R_prevalence_aust_2 = prevalence_aust_2.round(1)

# Transform Arrays into DataFrames
DF_prevalence_aust_1 = pd.DataFrame(R_prevalence_aust_1)
DF_prevalence_aust_2 = pd.DataFrame(R_prevalence_aust_2)

frames_1 = [DF_prevalence_india_1, DF_prevalence_india_2, DF_prevalence_indo_1, DF_prevalence_indo_2,
               DF_prevalence_aust_1, DF_prevalence_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

#### tolist() method for reordering columns: https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

#### creating a blank column: https://www.kite.com/python/answers/how-to-create-an-empty-column-in-a-pandas-dataframe-in-python#:~:text=Use%20an%20empty%20string%20to,named%20new_column%20in%20the%20Dataframe%20.

#### Consumption Variable

##### India

In [57]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person per year(15 years or older) 

# 1950 - 1999: Consumption of cigs per person per year remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(1200, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(1300, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

In [19]:
# Create an empty column for countries
prevalence["Countries"] = ""

# Use the .tolist() method to reorder columns
cols = prevalence.columns.tolist()
cols = cols[-1:] + cols[:-1]

['Countries', 'Prevalence(%)']

In [58]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person per year(15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(1200, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(2900, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

In [59]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per year(15 years or older)

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(2721, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(1300, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

### Consumption (Per Capita) Variable

##### India

In [29]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

In [30]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

In [53]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

Consumption = pd.concat(frames_1)
Consumption.columns = ["Consumption(Yearly)"]

### Government Control Rating (0.0 - 6.0)

##### India

In [29]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
rating_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
rating_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

In [30]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

In [52]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

In [ ]:
##### India

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df2 = pd.DataFrame({'Prevelance (%)': prevelance1.ravel(), 
                     'Consumption': per_capita1.ravel(), 'Control Rating': control_rate1.ravel(),  })

### Degree of Influence of Tobacco Lobbying

The list of categories for the Influence variable has not yet bee

In [ ]:
# Create a third dataframe for the Influence variable leaving the square brackets empty - categories will
# populated based off Control Rating variable values
temp_df3 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

### Concatenate Dataframes into Dataset for Low-Income Countries

In [ ]:
# Concatenate the dataframes along the x-axis, setting the join parameter to 'inner'
dataset1 = pd.concat([temp_df1, temp_df2, temp_df3], axis=1, join='inner')
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 10 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of Control Rating

dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Weak"
dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Moderate"
dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Significant"
dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Strong"
dataset1.head(8)

# Print the top 10 rows
dataset1[['Control Rating', 'Influence']].head(10)

Looking at the first 8 values for India, we can see that the Influence variable is determined based off the values from Control Rating.

In [ ]:
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 20 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of 
#dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Strong"
#dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Significant"
#dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Moderate"
#dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Moderate"
#dataset1

## High Income Countries Dataset

### Countries and Years Variables

In [ ]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df4 = pd.DataFrame({"Countries": ["Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",
                                  
"France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", 
"France", "France", "France", "France", "France", "France", "France", "France", "France", 
                    
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", 
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden"],
                    
        
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc2 = rng.uniform(low=5, high=38.5, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance2 = perc2.round(1)

### Consumption (Per Capita) Variable

In [ ]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita2 = rng.integers(low=100, high=2000, size=(63,))

### Government Control Rating (0.0 - 5.0)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=3.5, high= 4.7, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate2 = rating2.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df5 = pd.DataFrame({'Control Rating': control_rate2.ravel(), 'Prevelance (%)': prevelance2.ravel(), 
                     'Consumption': per_capita2.ravel() })

### Degree of Influence of Tobacco Lobbying

In [ ]:
temp_df6 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

In [ ]:
# Concatenate the dataframes along the x-axis
dataset2 = pd.concat([temp_df4, temp_df6, temp_df5], axis=1, join='inner')
dataset2

In [ ]:
pd.set_option('display.max_rows', 200)

frames = [dataset1, dataset2]

v = pd.concat(frames)
v

In [ ]:
# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
#temp_df7 = list(zip(*[iter(dataset1)]))
temp_df8 = pd.DataFrame(dataset1[1:], columns=dataset2[1])

# Create a variable listing both dataframes together
#dataframes = [temp_df1, temp_df2]

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 1 decimal place1 and assign new variable
control_rate2 = rating2.round(1)
print(control_rate)

In [ ]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [ ]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

In [ ]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

## High-Income Countries Dataset

In [ ]:


#print(df3)

# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc = rng.uniform(low=0.5, high=13.3, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance = perc.round(1)



# Generate 60 random integers in the range 45-405 to represent profits (in billions)
profits = rng.integers(low=45, high=405, size=(63,))

In [ ]:
rating1 = rng.uniform(low=0.5, high= 0.9, size=(63,) )
rate1 = rating1.round(1)

In [ ]:
rating2 = rng.uniform(low=1.5, high= 1.9, size=(63,) )
rate2 = rating2.round(1)

In [ ]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 2 decimal places and assign new variable
control_rate = rating.round(1)

In [ ]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

In [ ]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

In [ ]:
# Create dataframe of numeric variables using ravel() method
df1 = pd.DataFrame({'Prevelance (%)': prevelance.ravel(), 'Control Rating': control_rate.ravel(),
                     'Profits': profits.ravel() })

# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
data = list(zip(*[iter(df3)]))
df2 = pd.DataFrame(data[1:], columns=data[0])

# Create a variable listing both dataframes together
dataframes = [df3, df1]

# Concatenate the dataframes along the x-axis
result = pd.concat([df3, df1], axis=1, join='inner')
print(result)

In [ ]:
temp_df3 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

In [ ]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df1 = pd.DataFrame({"Countries": ["India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
          "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", 
            "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", 
            "Myanmar"],
                    
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [ ]:
# India

# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc1 = np.linspace(21.5, 52.7, 63)
# Round to 2 decimal places and assign new variable

prevelance1 = pd.DataFrame(rng.poisson(23, 50) )
# India
dd

### Consumption (Per Capita) Variable

In [ ]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita1 = rng.integers(low=500, high=2000, size=(63,))

### Government Control Rating (0.0 - 6.0)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating1 = rng.uniform(low=0.5, high= 3.0, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate1 = rating1.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df2 = pd.DataFrame({'Prevelance (%)': prevelance.ravel(), 
                     'Consumption': per_capita1.ravel(), 'Control Rating': control_rate1.ravel(),  })

### Degree of Influence of Tobacco Lobbying

The list of categories for the Influence variable has not yet bee

In [ ]:
# Create a third dataframe for the Influence variable leaving the square brackets empty - categories will
# populated based off Control Rating variable values
temp_df3 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

### Concatenate Dataframes into Dataset for Low-Income Countries

In [ ]:
# Concatenate the dataframes along the x-axis, setting the join parameter to 'inner'
dataset1 = pd.concat([temp_df1, temp_df2, temp_df3], axis=1, join='inner')
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 10 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of Control Rating

dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Weak"
dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Moderate"
dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Significant"
dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Strong"
dataset1.head(8)

# Print the top 10 rows
dataset1[['Control Rating', 'Influence']].head(10)

Looking at the first 8 values for India, we can see that the Influence variable is determined based off the values from Control Rating.

In [ ]:
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 20 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of 
#dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Strong"
#dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Significant"
#dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Moderate"
#dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Moderate"
#dataset1

## High Income Countries Dataset

### Countries and Years Variables

In [ ]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df4 = pd.DataFrame({"Countries": ["Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",
                                  
"France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", 
"France", "France", "France", "France", "France", "France", "France", "France", "France", 
                    
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", 
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden"],
                    
        
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc2 = rng.uniform(low=5, high=38.5, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance2 = perc2.round(1)

### Consumption (Per Capita) Variable

In [ ]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita2 = rng.integers(low=100, high=2000, size=(63,))

### Government Control Rating (0.0 - 5.0)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=3.5, high= 4.7, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate2 = rating2.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df5 = pd.DataFrame({'Control Rating': control_rate2.ravel(), 'Prevelance (%)': prevelance2.ravel(), 
                     'Consumption': per_capita2.ravel() })

### Degree of Influence of Tobacco Lobbying

In [ ]:
temp_df6 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

In [ ]:
# Concatenate the dataframes along the x-axis
dataset2 = pd.concat([temp_df4, temp_df6, temp_df5], axis=1, join='inner')
dataset2

In [ ]:
pd.set_option('display.max_rows', 200)

frames = [dataset1, dataset2]

v = pd.concat(frames)
v

In [ ]:
# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
#temp_df7 = list(zip(*[iter(dataset1)]))
temp_df8 = pd.DataFrame(dataset1[1:], columns=dataset2[1])

# Create a variable listing both dataframes together
#dataframes = [temp_df1, temp_df2]

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 1 decimal place1 and assign new variable
control_rate2 = rating2.round(1)
print(control_rate)

In [ ]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [ ]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

In [ ]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

In [32]:

# Create an empty column for countries
empty_1 = pd.DataFrame({'india' : [np.nan],
                              'indo': [np.nan],
                         'aust': [np.nan],
                       })
print(empty_1)

   india  indo  aust
0    NaN   NaN   NaN

In [40]:
pd.set_option('display.max_rows', 220)
# Add 70 rows to empty column
country_india = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_india_2)
#empty_indo_2 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_indo_2)
# Populate With String using fillna()
#country_india = empty_india_2.fillna("India")


# replacing na values in college with No college 
country_india["india"].fillna("India", inplace = True) 
country_india["indo"].fillna("Indonesia", inplace = True) 
country_india["aust"].fillna("Austria", inplace = True)
country_india
#country_india

part1 = country_india.iloc[:,0:1]
#print("\n", part1)

part2 = country_india.iloc[:,1:2]
#print("\n", part2)
part3 = country_india.iloc[:,2:3]
#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["Country"]
part1.columns = new_columns
part2.columns = new_columns
part3.columns = new_columns

qq = pd.concat([part1, part2, part3], ignore_index=True) 

qq

       Country
0        India
1        India
2        India
3        India
4        India
5        India
6        India
7        India
8        India
9        India
10       India
11       India
12       India
13       India
14       India
15       India
16       India
17       India
18       India
19       India
20       India
21       India
22       India
23       India
24       India
25       India
26       India
27       India
28       India
29       India
30       India
31       India
32       India
33       India
34       India
35       India
36       India
37       India
38       India
39       India
40       India
41       India
42       India
43       India
44       India
45       India
46       India
47       India
48       India
49       India
50       India
51       India
52       India
53       India
54       India
55       India
56       India
57       India
58       India
59       India
60       India
61       India
62       India
63       India
64       India
65       India
66       India
67       India
68       India
69       India
70   Indonesia
71   Indonesia
72   Indonesia
73   Indonesia
74   Indonesia
75   Indonesia
76   Indonesia
77   Indonesia
78   Indonesia
79   Indonesia
80   Indonesia
81   Indonesia
82   Indonesia
83   Indonesia
84   Indonesia
85   Indonesia
86   Indonesia
87   Indonesia
88   Indonesia
89   Indonesia
90   Indonesia
91   Indonesia
92   Indonesia
93   Indonesia
94   Indonesia
95   Indonesia
96   Indonesia
97   Indonesia
98   Indonesia
99   Indonesia
100  Indonesia
101  Indonesia
102  Indonesia
103  Indonesia
104  Indonesia
105  Indonesia
106  Indonesia
107  Indonesia
108  Indonesia
109  Indonesia
110  Indonesia
111  Indonesia
112  Indonesia
113  Indonesia
114  Indonesia
115  Indonesia
116  Indonesia
117  Indonesia
118  Indonesia
119  Indonesia
120  Indonesia
121  Indonesia
122  Indonesia
123  Indonesia
124  Indonesia
125  Indonesia
126  Indonesia
127  Indonesia
128  Indonesia
129  Indonesia
130  Indonesia
131  Indonesia
132  Indonesia
133  Indonesia
134  Indonesia
135  Indonesia
136  Indonesia
137  Indonesia
138  Indonesia
139  Indonesia
140    Austria
141    Austria
142    Austria
143    Austria
144    Austria
145    Austria
146    Austria
147    Austria
148    Austria
149    Austria
150    Austria
151    Austria
152    Austria
153    Austria
154    Austria
155    Austria
156    Austria
157    Austria
158    Austria
159    Austria
160    Austria
161    Austria
162    Austria
163    Austria
164    Austria
165    Austria
166    Austria
167    Austria
168    Austria
169    Austria
170    Austria
171    Austria
172    Austria
173    Austria
174    Austria
175    Austria
176    Austria
177    Austria
178    Austria
179    Austria
180    Austria
181    Austria
182    Austria
183    Austria
184    Austria
185    Austria
186    Austria
187    Austria
188    Austria
189    Austria
190    Austria
191    Austria
192    Austria
193    Austria
194    Austria
195    Austria
196    Austria
197    Austria
198    Austria
199    Austria
200    Austria
201    Austria
202    Austria
203    Austria
204    Austria
205    Austria
206    Austria
207    Austria
208    Austria
209    Austria

In [28]:
df = pd.DataFrame(np.arange(1, 9).reshape((2, 4)),
        columns=["a1", "b1", "a2", "b2"])


# Create an empty column for countries
empty_1 = pd.DataFrame({'1950' : [np.nan],
                              '2000': [np.nan]  })
print(empty_1)

   1950  2000
0   NaN   NaN

In [31]:

# Add 70 rows to empty column
country_india = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_india_2)
#empty_indo_2 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_indo_2)
# Populate With String using fillna()
#country_india = empty_india_2.fillna("India")


# replacing na values in college with No college 
country_india["1950"].fillna("india", inplace = True) 
country_india["2000"].fillna("indonesia", inplace = True) 
country_india
#country_india

part1 = country_india.iloc[:,0:1]
#print("\n", part1)

part2 = country_india.iloc[:,1:2]
#print("\n", part2)

#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["Country"]
part1.columns = new_columns
part2.columns = new_columns

kk = pd.concat([part1, part2], ignore_index=True) 

kk

       Country
0        india
1        india
2        india
3        india
4        india
..         ...
135  indonesia
136  indonesia
137  indonesia
138  indonesia
139  indonesia

[140 rows x 1 columns]

In [27]:

#-----------------------------------------------------------------------
# Create an empty column for countries
empty_indo_1 = pd.DataFrame({'ccc' : [np.nan]})

# Add 70 rows to empty column
empty_indo_2 = empty_indo_1.reindex(empty_indo_1.index.tolist() + list(range(1, 70)))

# Populate With String using fillna()
country_indo = empty_indo_2.fillna("Indonesia")

     1950       2000
0   india  indonesia
1   india  indonesia
2   india  indonesia
3   india  indonesia
4   india  indonesia
..    ...        ...
65  india  indonesia
66  india  indonesia
67  india  indonesia
68  india  indonesia
69  india  indonesia

[70 rows x 2 columns]

           ccc
0   Indonesia
1   Indonesia
2   Indonesia
3   Indonesia
4   Indonesia
..        ...
65  Indonesia
66  Indonesia
67  Indonesia
68  Indonesia
69  Indonesia

[70 rows x 1 columns]

In [10]:
part1 = countries.iloc[:,0:1]
#print("\n", part1)

part2 = countries.iloc[:,1:2]
#print("\n", part2)

#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["c"]
part1.columns = new_columns
part2.columns = new_columns


print ("\n", pd.concat([part1, part2], ignore_index=True) )
#print ("\n", pd.concat([part1, part2], ignore_index=True) )

NameError: name 'countries' is not defined

In [2]:


df = pd.DataFrame(np.arange(1, 9).reshape((2, 4)),
        columns=["a1", "b1", "a2", "b2"])
print(df)

part1 = df.iloc[:,0:2]
print("\n", part1)
part2 = df.iloc[:,2:4]
print("\n", part2)

new_columns = ["c", "d"]
part1.columns = new_columns
part2.columns = new_columns

print ("\n", pd.concat([part1, part2], ignore_index=True) )

   a1  b1  a2  b2
0   1   2   3   4
1   5   6   7   8

    a1  b1
0   1   2
1   5   6

    a2  b2
0   3   4
1   7   8

    c  d
0  1  2
1  5  6
2  3  4
3  7  8

In [172]:
# Create an empty column for countries
empty_india_1 = pd.DataFrame({'Countries' : [np.nan]})

# Add 70 rows to empty column
empty_india_2 = empty_india_1.reindex(empty_india_1.index.tolist() + list(range(1, 70)))

# Populate With String using fillna()
country_india = empty_india_2.fillna("India")
#-----------------------------------------------------------------------
# Create an empty column for countries
empty_indo_1 = pd.DataFrame({'ccc' : [np.nan]})

# Add 70 rows to empty column
empty_indo_2 = empty_indo_1.reindex(empty_indo_1.index.tolist() + list(range(1, 72)))

# Populate With String using fillna()
country_indo = empty_indo_2.fillna("Indonesia")
#------------------------------------------------------------------------
# Create an empty column for countries
empty_aust_1 = pd.DataFrame({'mmm' : [np.nan]})
empty_aust_1

# Add 70 rows to empty column
empty_aust_2 = empty_aust_1.reindex(empty_aust_1.index.tolist() + list(range(1, 72)))

# Populate With String using fillna()
country_aust = empty_aust_2.fillna("Austria")


#result = country_india.append(country_indo)
#result
# Stack the DataFrames on top of each other
#countries = pd.concat([country_india, country_indo, country_aust], axis=0)
#countries

#frames = [country_india, country_indo]
#pd.set_option('display.max_rows', 150)
#result = pd.concat(frames)
#result.head(140)
#frames

In [19]:

prevalence["Countries"] = ""

['Countries', 'Prevalence(%)']

     A
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
..  ..
65 NaN
66 NaN
67 NaN
68 NaN
69 NaN

[70 rows x 1 columns]

In [175]:
part1 = countries.iloc[1:70,0:1]
#print("\n", part1)

part2 = countries.iloc[70:141,1:2]
#print("\n", part2)

#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["c"]
part1.columns = new_columns
part2.columns = new_columns
part3columns = new_columns

print ("\n", pd.concat([part1, part2], ignore_index=True) )
#print ("\n", pd.concat([part1, part2], ignore_index=True) )

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [8]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df1 = pd.DataFrame({"Countries": ["India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India",
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India",
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India",
                                       
                                       
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia", "Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia", "Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
          "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
                                       
                                       
          ],
                    
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

ValueError: arrays must all be same length