In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import hist
import seaborn as sns
# Set seed of the generator
rng = np.random.default_rng(0)

In [ ]:
rng = np.random.default_rng(0)

# Generate random data for Government Control in Normal Distribution 

# 1950 - 2002: There was very little government control in India
rating_india_1 = rng.normal(1.2, 0.5, size=(1, 53))

# 2003 - 2019: Consumption increased
rating_india_2 = rng.normal(4.1, 0.3, size=(1, 17))

# Round to 1 decimal
R_rating_india_1 = rating_india_1.round(1)
R_rating_india_2 = rating_india_2.round(1)

# Transform Arrays into DataFrames
DF_rating_india_1 = pd.DataFrame(R_rating_india_1)
DF_rating_india_2 = pd.DataFrame(R_rating_india_2)
R_rating_india_1

In [4]:

f = np.linspace(43, 33, 50)
f2 = f /3 * 2.7
print(f, f2)

[43.         42.79591837 42.59183673 42.3877551  42.18367347 41.97959184
 41.7755102  41.57142857 41.36734694 41.16326531 40.95918367 40.75510204
 40.55102041 40.34693878 40.14285714 39.93877551 39.73469388 39.53061224
 39.32653061 39.12244898 38.91836735 38.71428571 38.51020408 38.30612245
 38.10204082 37.89795918 37.69387755 37.48979592 37.28571429 37.08163265
 36.87755102 36.67346939 36.46938776 36.26530612 36.06122449 35.85714286
 35.65306122 35.44897959 35.24489796 35.04081633 34.83673469 34.63265306
 34.42857143 34.2244898  34.02040816 33.81632653 33.6122449  33.40816327
 33.20408163 33.        ] [38.7        38.51632653 38.33265306 38.14897959 37.96530612 37.78163265
 37.59795918 37.41428571 37.23061224 37.04693878 36.86326531 36.67959184
 36.49591837 36.3122449  36.12857143 35.94489796 35.76122449 35.57755102
 35.39387755 35.21020408 35.02653061 34.84285714 34.65918367 34.4755102
 34.29183673 34.10816327 33.9244898  33.74081633 33.55714286 33.37346939
 33.18979592 33.00612245 32.82244898 32.63877551 32.45510204 32.27142857
 32.0877551  31.90408163 31.72040816 31.53673469 31.35306122 31.16938776
 30.98571429 30.80204082 30.61836735 30.43469388 30.25102041 30.06734694
 29.88367347 29.7       ]

In [5]:
rng.poisson(29, 32)

array([31, 15, 31, 35, 36, 33, 36, 26, 32, 31, 32, 32, 22, 29, 29, 39, 30,
       30, 27, 24, 20, 34, 36, 26, 28, 24, 27, 20, 26, 27, 28, 29],
      dtype=int64)

In [6]:
rng = np.random.default_rng(0)

In [7]:
rng = np.random.default_rng(0)
rng.poisson(29, 50)

rng.poisson(16, 20)

array([20, 13, 20, 26, 17, 21, 15, 15,  9, 13, 24, 21, 14, 20, 13, 22, 14,
       21, 23, 21], dtype=int64)

## Low-Income Countries Dataset

### Countries and Years Variables

In [44]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 220)

In [ ]:

# Create a dataframe with 3 empty column
empty_1 = pd.DataFrame({'india' : [np.nan],
                              'indo': [np.nan],
                         'aust': [np.nan],
                       })


# Add 70 rows to the 3 empty column
country_1 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))

# Replacing empty values with coutnry name 
country_1["india"].fillna("India", inplace = True) 
country_1["indo"].fillna("Indonesia", inplace = True) 
country_1["aust"].fillna("Austria", inplace = True)

india = country_1.iloc[:,0:1]

indonesia = country_1.iloc[:,1:2]

austria = country_1.iloc[:,2:3]

new_columns = ["Country"]
india.columns = new_columns
indonesia.columns = new_columns
austria.columns = new_columns

Countries = pd.concat([india, indonesia, austria], ignore_index=True) 
Countries

In [49]:

# Create a dataframe with 3 empty column
empty_1 = pd.DataFrame({'india' : [np.nan],
                              'indo': [np.nan],
                         'aust': [np.nan],
                       })


# Add 70 rows to the 3 empty column
country_1 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))

# Replacing empty values with coutnry name 
country_1["india"].fillna("India", inplace = True) 
country_1["indo"].fillna("Indonesia", inplace = True) 
country_1["aust"].fillna("Austria", inplace = True)

india = country_1.iloc[:,0:1]

indonesia = country_1.iloc[:,1:2]

austria = country_1.iloc[:,2:3]

new_columns = ["Country"]
india.columns = new_columns
indonesia.columns = new_columns
austria.columns = new_columns

Countries = pd.concat([india, indonesia, austria], ignore_index=True) 
Countries

       Country
0        India
1        India
2        India
3        India
4        India
5        India
6        India
7        India
8        India
9        India
10       India
11       India
12       India
13       India
14       India
15       India
16       India
17       India
18       India
19       India
20       India
21       India
22       India
23       India
24       India
25       India
26       India
27       India
28       India
29       India
30       India
31       India
32       India
33       India
34       India
35       India
36       India
37       India
38       India
39       India
40       India
41       India
42       India
43       India
44       India
45       India
46       India
47       India
48       India
49       India
50       India
51       India
52       India
53       India
54       India
55       India
56       India
57       India
58       India
59       India
60       India
61       India
62       India
63       India
64       India
65       India
66       India
67       India
68       India
69       India
70   Indonesia
71   Indonesia
72   Indonesia
73   Indonesia
74   Indonesia
75   Indonesia
76   Indonesia
77   Indonesia
78   Indonesia
79   Indonesia
80   Indonesia
81   Indonesia
82   Indonesia
83   Indonesia
84   Indonesia
85   Indonesia
86   Indonesia
87   Indonesia
88   Indonesia
89   Indonesia
90   Indonesia
91   Indonesia
92   Indonesia
93   Indonesia
94   Indonesia
95   Indonesia
96   Indonesia
97   Indonesia
98   Indonesia
99   Indonesia
100  Indonesia
101  Indonesia
102  Indonesia
103  Indonesia
104  Indonesia
105  Indonesia
106  Indonesia
107  Indonesia
108  Indonesia
109  Indonesia
110  Indonesia
111  Indonesia
112  Indonesia
113  Indonesia
114  Indonesia
115  Indonesia
116  Indonesia
117  Indonesia
118  Indonesia
119  Indonesia
120  Indonesia
121  Indonesia
122  Indonesia
123  Indonesia
124  Indonesia
125  Indonesia
126  Indonesia
127  Indonesia
128  Indonesia
129  Indonesia
130  Indonesia
131  Indonesia
132  Indonesia
133  Indonesia
134  Indonesia
135  Indonesia
136  Indonesia
137  Indonesia
138  Indonesia
139  Indonesia
140    Austria
141    Austria
142    Austria
143    Austria
144    Austria
145    Austria
146    Austria
147    Austria
148    Austria
149    Austria
150    Austria
151    Austria
152    Austria
153    Austria
154    Austria
155    Austria
156    Austria
157    Austria
158    Austria
159    Austria
160    Austria
161    Austria
162    Austria
163    Austria
164    Austria
165    Austria
166    Austria
167    Austria
168    Austria
169    Austria
170    Austria
171    Austria
172    Austria
173    Austria
174    Austria
175    Austria
176    Austria
177    Austria
178    Austria
179    Austria
180    Austria
181    Austria
182    Austria
183    Austria
184    Austria
185    Austria
186    Austria
187    Austria
188    Austria
189    Austria
190    Austria
191    Austria
192    Austria
193    Austria
194    Austria
195    Austria
196    Austria
197    Austria
198    Austria
199    Austria
200    Austria
201    Austria
202    Austria
203    Austria
204    Austria
205    Austria
206    Austria
207    Austria
208    Austria
209    Austria

### Country Variable

### Prevelance Variable

##### India

In [12]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
prevalence_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_prevalence_india_1 = prevalence_india_1.round(1)
R_prevalence_india_2 = prevalence_india_2.round(1)

# Transform Arrays into DataFrames
DF_prevalence_india_1 = pd.DataFrame(R_prevalence_india_1)
DF_prevalence_india_2 = pd.DataFrame(R_prevalence_india_2)

##### Indonesia

In [13]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: % of population increased
prevalence_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_prevalence_indo_1 = prevalence_indo_1.round(1)
R_prevalence_indo_2 = prevalence_indo_2.round(1)

# Transform Arrays into DataFrames
DF_prevalence_indo_1 = pd.DataFrame(R_prevalence_indo_1)
DF_prevalence_indo_2 = pd.DataFrame(R_prevalence_indo_2)

##### Austria

In [14]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: % of population decreased
prevalence_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_prevalence_aust_1 = prevalence_aust_1.round(1)
R_prevalence_2 = prevalence_aust_2.round(1)

# Round to 1 decimal
R_prevalence_aust_1 = prevalence_aust_1.round(1)
R_prevalence_aust_2 = prevalence_aust_2.round(1)

# Transform Arrays into DataFrames
DF_prevalence_aust_1 = pd.DataFrame(R_prevalence_aust_1)
DF_prevalence_aust_2 = pd.DataFrame(R_prevalence_aust_2)

frames_1 = [DF_prevalence_india_1, DF_prevalence_india_2, DF_prevalence_indo_1, DF_prevalence_indo_2,
               DF_prevalence_aust_1, DF_prevalence_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

#### tolist() method for reordering columns: https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

#### creating a blank column: https://www.kite.com/python/answers/how-to-create-an-empty-column-in-a-pandas-dataframe-in-python#:~:text=Use%20an%20empty%20string%20to,named%20new_column%20in%20the%20Dataframe%20.

#### Consumption Variable

##### India

In [57]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person per year(15 years or older) 

# 1950 - 1999: Consumption of cigs per person per year remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(1200, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(1300, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

In [19]:
# Create an empty column for countries
prevalence["Countries"] = ""

# Use the .tolist() method to reorder columns
cols = prevalence.columns.tolist()
cols = cols[-1:] + cols[:-1]

['Countries', 'Prevalence(%)']

In [58]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person per year(15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(1200, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(2900, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

In [59]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per year(15 years or older)

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(2721, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(1300, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

### Consumption (Per Capita) Variable

##### India

In [29]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

In [30]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

In [53]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

Consumption = pd.concat(frames_1)
Consumption.columns = ["Consumption(Yearly)"]

### Government Control Rating (0.0 - 6.0)

##### India

In [29]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
rating_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
rating_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

In [30]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

In [52]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

In [ ]:
##### India

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df2 = pd.DataFrame({'Prevelance (%)': prevelance1.ravel(), 
                     'Consumption': per_capita1.ravel(), 'Control Rating': control_rate1.ravel(),  })

### Degree of Influence of Tobacco Lobbying

The list of categories for the Influence variable has not yet bee

In [ ]:
# Create a third dataframe for the Influence variable leaving the square brackets empty - categories will
# populated based off Control Rating variable values
temp_df3 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

### Concatenate Dataframes into Dataset for Low-Income Countries

In [ ]:
# Concatenate the dataframes along the x-axis, setting the join parameter to 'inner'
dataset1 = pd.concat([temp_df1, temp_df2, temp_df3], axis=1, join='inner')
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 10 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of Control Rating

dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Weak"
dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Moderate"
dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Significant"
dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Strong"
dataset1.head(8)

# Print the top 10 rows
dataset1[['Control Rating', 'Influence']].head(10)

Looking at the first 8 values for India, we can see that the Influence variable is determined based off the values from Control Rating.

In [ ]:
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 20 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of 
#dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Strong"
#dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Significant"
#dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Moderate"
#dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Moderate"
#dataset1

## High Income Countries Dataset

### Countries and Years Variables

In [ ]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df4 = pd.DataFrame({"Countries": ["Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",
                                  
"France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", 
"France", "France", "France", "France", "France", "France", "France", "France", "France", 
                    
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", 
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden"],
                    
        
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc2 = rng.uniform(low=5, high=38.5, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance2 = perc2.round(1)

### Consumption (Per Capita) Variable

In [ ]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita2 = rng.integers(low=100, high=2000, size=(63,))

### Government Control Rating (0.0 - 5.0)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=3.5, high= 4.7, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate2 = rating2.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df5 = pd.DataFrame({'Control Rating': control_rate2.ravel(), 'Prevelance (%)': prevelance2.ravel(), 
                     'Consumption': per_capita2.ravel() })

### Degree of Influence of Tobacco Lobbying

In [ ]:
temp_df6 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

In [ ]:
# Concatenate the dataframes along the x-axis
dataset2 = pd.concat([temp_df4, temp_df6, temp_df5], axis=1, join='inner')
dataset2

In [ ]:
pd.set_option('display.max_rows', 200)

frames = [dataset1, dataset2]

v = pd.concat(frames)
v

In [ ]:
# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
#temp_df7 = list(zip(*[iter(dataset1)]))
temp_df8 = pd.DataFrame(dataset1[1:], columns=dataset2[1])

# Create a variable listing both dataframes together
#dataframes = [temp_df1, temp_df2]

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 1 decimal place1 and assign new variable
control_rate2 = rating2.round(1)
print(control_rate)

In [ ]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [ ]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

In [ ]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

## High-Income Countries Dataset

In [ ]:


#print(df3)

# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc = rng.uniform(low=0.5, high=13.3, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance = perc.round(1)



# Generate 60 random integers in the range 45-405 to represent profits (in billions)
profits = rng.integers(low=45, high=405, size=(63,))

In [ ]:
rating1 = rng.uniform(low=0.5, high= 0.9, size=(63,) )
rate1 = rating1.round(1)

In [ ]:
rating2 = rng.uniform(low=1.5, high= 1.9, size=(63,) )
rate2 = rating2.round(1)

In [ ]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 2 decimal places and assign new variable
control_rate = rating.round(1)

In [ ]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

In [ ]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

In [ ]:
# Create dataframe of numeric variables using ravel() method
df1 = pd.DataFrame({'Prevelance (%)': prevelance.ravel(), 'Control Rating': control_rate.ravel(),
                     'Profits': profits.ravel() })

# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
data = list(zip(*[iter(df3)]))
df2 = pd.DataFrame(data[1:], columns=data[0])

# Create a variable listing both dataframes together
dataframes = [df3, df1]

# Concatenate the dataframes along the x-axis
result = pd.concat([df3, df1], axis=1, join='inner')
print(result)

In [ ]:
temp_df3 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

In [ ]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df1 = pd.DataFrame({"Countries": ["India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
          "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", 
            "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", 
            "Myanmar"],
                    
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [ ]:
# India

# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc1 = np.linspace(21.5, 52.7, 63)
# Round to 2 decimal places and assign new variable

prevelance1 = pd.DataFrame(rng.poisson(23, 50) )
# India
dd

### Consumption (Per Capita) Variable

In [ ]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita1 = rng.integers(low=500, high=2000, size=(63,))

### Government Control Rating (0.0 - 6.0)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating1 = rng.uniform(low=0.5, high= 3.0, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate1 = rating1.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df2 = pd.DataFrame({'Prevelance (%)': prevelance.ravel(), 
                     'Consumption': per_capita1.ravel(), 'Control Rating': control_rate1.ravel(),  })

### Degree of Influence of Tobacco Lobbying

The list of categories for the Influence variable has not yet bee

In [ ]:
# Create a third dataframe for the Influence variable leaving the square brackets empty - categories will
# populated based off Control Rating variable values
temp_df3 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

### Concatenate Dataframes into Dataset for Low-Income Countries

In [ ]:
# Concatenate the dataframes along the x-axis, setting the join parameter to 'inner'
dataset1 = pd.concat([temp_df1, temp_df2, temp_df3], axis=1, join='inner')
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 10 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of Control Rating

dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Weak"
dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Moderate"
dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Significant"
dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Strong"
dataset1.head(8)

# Print the top 10 rows
dataset1[['Control Rating', 'Influence']].head(10)

Looking at the first 8 values for India, we can see that the Influence variable is determined based off the values from Control Rating.

In [ ]:
dataset1.head(5)

#### Altering the 'Influence' Variable

In the first 20 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [ ]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of 
#dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Strong"
#dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Significant"
#dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Moderate"
#dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Moderate"
#dataset1

## High Income Countries Dataset

### Countries and Years Variables

In [ ]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df4 = pd.DataFrame({"Countries": ["Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",
                                  
"France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", 
"France", "France", "France", "France", "France", "France", "France", "France", "France", 
                    
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", 
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden"],
                    
        
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc2 = rng.uniform(low=5, high=38.5, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance2 = perc2.round(1)

### Consumption (Per Capita) Variable

In [ ]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita2 = rng.integers(low=100, high=2000, size=(63,))

### Government Control Rating (0.0 - 5.0)

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=3.5, high= 4.7, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate2 = rating2.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df5 = pd.DataFrame({'Control Rating': control_rate2.ravel(), 'Prevelance (%)': prevelance2.ravel(), 
                     'Consumption': per_capita2.ravel() })

### Degree of Influence of Tobacco Lobbying

In [ ]:
temp_df6 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

In [ ]:
# Concatenate the dataframes along the x-axis
dataset2 = pd.concat([temp_df4, temp_df6, temp_df5], axis=1, join='inner')
dataset2

In [ ]:
pd.set_option('display.max_rows', 200)

frames = [dataset1, dataset2]

v = pd.concat(frames)
v

In [ ]:
# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
#temp_df7 = list(zip(*[iter(dataset1)]))
temp_df8 = pd.DataFrame(dataset1[1:], columns=dataset2[1])

# Create a variable listing both dataframes together
#dataframes = [temp_df1, temp_df2]

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 1 decimal place1 and assign new variable
control_rate2 = rating2.round(1)
print(control_rate)

In [ ]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [ ]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

In [ ]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

In [32]:

# Create an empty column for countries
empty_1 = pd.DataFrame({'india' : [np.nan],
                              'indo': [np.nan],
                         'aust': [np.nan],
                       })
print(empty_1)

   india  indo  aust
0    NaN   NaN   NaN

In [40]:
pd.set_option('display.max_rows', 220)
# Add 70 rows to empty column
country_india = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_india_2)
#empty_indo_2 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_indo_2)
# Populate With String using fillna()
#country_india = empty_india_2.fillna("India")


# replacing na values in college with No college 
country_india["india"].fillna("India", inplace = True) 
country_india["indo"].fillna("Indonesia", inplace = True) 
country_india["aust"].fillna("Austria", inplace = True)
country_india
#country_india

part1 = country_india.iloc[:,0:1]
#print("\n", part1)

part2 = country_india.iloc[:,1:2]
#print("\n", part2)
part3 = country_india.iloc[:,2:3]
#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["Country"]
part1.columns = new_columns
part2.columns = new_columns
part3.columns = new_columns

qq = pd.concat([part1, part2, part3], ignore_index=True) 

qq

       Country
0        India
1        India
2        India
3        India
4        India
5        India
6        India
7        India
8        India
9        India
10       India
11       India
12       India
13       India
14       India
15       India
16       India
17       India
18       India
19       India
20       India
21       India
22       India
23       India
24       India
25       India
26       India
27       India
28       India
29       India
30       India
31       India
32       India
33       India
34       India
35       India
36       India
37       India
38       India
39       India
40       India
41       India
42       India
43       India
44       India
45       India
46       India
47       India
48       India
49       India
50       India
51       India
52       India
53       India
54       India
55       India
56       India
57       India
58       India
59       India
60       India
61       India
62       India
63       India
64       India
65       India
66       India
67       India
68       India
69       India
70   Indonesia
71   Indonesia
72   Indonesia
73   Indonesia
74   Indonesia
75   Indonesia
76   Indonesia
77   Indonesia
78   Indonesia
79   Indonesia
80   Indonesia
81   Indonesia
82   Indonesia
83   Indonesia
84   Indonesia
85   Indonesia
86   Indonesia
87   Indonesia
88   Indonesia
89   Indonesia
90   Indonesia
91   Indonesia
92   Indonesia
93   Indonesia
94   Indonesia
95   Indonesia
96   Indonesia
97   Indonesia
98   Indonesia
99   Indonesia
100  Indonesia
101  Indonesia
102  Indonesia
103  Indonesia
104  Indonesia
105  Indonesia
106  Indonesia
107  Indonesia
108  Indonesia
109  Indonesia
110  Indonesia
111  Indonesia
112  Indonesia
113  Indonesia
114  Indonesia
115  Indonesia
116  Indonesia
117  Indonesia
118  Indonesia
119  Indonesia
120  Indonesia
121  Indonesia
122  Indonesia
123  Indonesia
124  Indonesia
125  Indonesia
126  Indonesia
127  Indonesia
128  Indonesia
129  Indonesia
130  Indonesia
131  Indonesia
132  Indonesia
133  Indonesia
134  Indonesia
135  Indonesia
136  Indonesia
137  Indonesia
138  Indonesia
139  Indonesia
140    Austria
141    Austria
142    Austria
143    Austria
144    Austria
145    Austria
146    Austria
147    Austria
148    Austria
149    Austria
150    Austria
151    Austria
152    Austria
153    Austria
154    Austria
155    Austria
156    Austria
157    Austria
158    Austria
159    Austria
160    Austria
161    Austria
162    Austria
163    Austria
164    Austria
165    Austria
166    Austria
167    Austria
168    Austria
169    Austria
170    Austria
171    Austria
172    Austria
173    Austria
174    Austria
175    Austria
176    Austria
177    Austria
178    Austria
179    Austria
180    Austria
181    Austria
182    Austria
183    Austria
184    Austria
185    Austria
186    Austria
187    Austria
188    Austria
189    Austria
190    Austria
191    Austria
192    Austria
193    Austria
194    Austria
195    Austria
196    Austria
197    Austria
198    Austria
199    Austria
200    Austria
201    Austria
202    Austria
203    Austria
204    Austria
205    Austria
206    Austria
207    Austria
208    Austria
209    Austria

In [28]:
df = pd.DataFrame(np.arange(1, 9).reshape((2, 4)),
        columns=["a1", "b1", "a2", "b2"])


# Create an empty column for countries
empty_1 = pd.DataFrame({'1950' : [np.nan],
                              '2000': [np.nan]  })
print(empty_1)

   1950  2000
0   NaN   NaN

In [31]:

# Add 70 rows to empty column
country_india = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_india_2)
#empty_indo_2 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))
#print(empty_indo_2)
# Populate With String using fillna()
#country_india = empty_india_2.fillna("India")


# replacing na values in college with No college 
country_india["1950"].fillna("india", inplace = True) 
country_india["2000"].fillna("indonesia", inplace = True) 
country_india
#country_india

part1 = country_india.iloc[:,0:1]
#print("\n", part1)

part2 = country_india.iloc[:,1:2]
#print("\n", part2)

#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["Country"]
part1.columns = new_columns
part2.columns = new_columns

kk = pd.concat([part1, part2], ignore_index=True) 

kk

       Country
0        india
1        india
2        india
3        india
4        india
..         ...
135  indonesia
136  indonesia
137  indonesia
138  indonesia
139  indonesia

[140 rows x 1 columns]

In [27]:

#-----------------------------------------------------------------------
# Create an empty column for countries
empty_indo_1 = pd.DataFrame({'ccc' : [np.nan]})

# Add 70 rows to empty column
empty_indo_2 = empty_indo_1.reindex(empty_indo_1.index.tolist() + list(range(1, 70)))

# Populate With String using fillna()
country_indo = empty_indo_2.fillna("Indonesia")

     1950       2000
0   india  indonesia
1   india  indonesia
2   india  indonesia
3   india  indonesia
4   india  indonesia
..    ...        ...
65  india  indonesia
66  india  indonesia
67  india  indonesia
68  india  indonesia
69  india  indonesia

[70 rows x 2 columns]

           ccc
0   Indonesia
1   Indonesia
2   Indonesia
3   Indonesia
4   Indonesia
..        ...
65  Indonesia
66  Indonesia
67  Indonesia
68  Indonesia
69  Indonesia

[70 rows x 1 columns]

In [10]:
part1 = countries.iloc[:,0:1]
#print("\n", part1)

part2 = countries.iloc[:,1:2]
#print("\n", part2)

#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["c"]
part1.columns = new_columns
part2.columns = new_columns


print ("\n", pd.concat([part1, part2], ignore_index=True) )
#print ("\n", pd.concat([part1, part2], ignore_index=True) )

NameError: name 'countries' is not defined

In [2]:


df = pd.DataFrame(np.arange(1, 9).reshape((2, 4)),
        columns=["a1", "b1", "a2", "b2"])
print(df)

part1 = df.iloc[:,0:2]
print("\n", part1)
part2 = df.iloc[:,2:4]
print("\n", part2)

new_columns = ["c", "d"]
part1.columns = new_columns
part2.columns = new_columns

print ("\n", pd.concat([part1, part2], ignore_index=True) )

   a1  b1  a2  b2
0   1   2   3   4
1   5   6   7   8

    a1  b1
0   1   2
1   5   6

    a2  b2
0   3   4
1   7   8

    c  d
0  1  2
1  5  6
2  3  4
3  7  8

In [172]:
# Create an empty column for countries
empty_india_1 = pd.DataFrame({'Countries' : [np.nan]})

# Add 70 rows to empty column
empty_india_2 = empty_india_1.reindex(empty_india_1.index.tolist() + list(range(1, 70)))

# Populate With String using fillna()
country_india = empty_india_2.fillna("India")
#-----------------------------------------------------------------------
# Create an empty column for countries
empty_indo_1 = pd.DataFrame({'ccc' : [np.nan]})

# Add 70 rows to empty column
empty_indo_2 = empty_indo_1.reindex(empty_indo_1.index.tolist() + list(range(1, 72)))

# Populate With String using fillna()
country_indo = empty_indo_2.fillna("Indonesia")
#------------------------------------------------------------------------
# Create an empty column for countries
empty_aust_1 = pd.DataFrame({'mmm' : [np.nan]})
empty_aust_1

# Add 70 rows to empty column
empty_aust_2 = empty_aust_1.reindex(empty_aust_1.index.tolist() + list(range(1, 72)))

# Populate With String using fillna()
country_aust = empty_aust_2.fillna("Austria")


#result = country_india.append(country_indo)
#result
# Stack the DataFrames on top of each other
#countries = pd.concat([country_india, country_indo, country_aust], axis=0)
#countries

#frames = [country_india, country_indo]
#pd.set_option('display.max_rows', 150)
#result = pd.concat(frames)
#result.head(140)
#frames

In [19]:

prevalence["Countries"] = ""

['Countries', 'Prevalence(%)']

     A
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
..  ..
65 NaN
66 NaN
67 NaN
68 NaN
69 NaN

[70 rows x 1 columns]

In [175]:
part1 = countries.iloc[1:70,0:1]
#print("\n", part1)

part2 = countries.iloc[70:141,1:2]
#print("\n", part2)

#part2 = countries.iloc[142:222,2:3
#print("\n", part2)

new_columns = ["c"]
part1.columns = new_columns
part2.columns = new_columns
part3columns = new_columns

print ("\n", pd.concat([part1, part2], ignore_index=True) )
#print ("\n", pd.concat([part1, part2], ignore_index=True) )

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [8]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df1 = pd.DataFrame({"Countries": ["India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India",
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India",
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India",
                                       
                                       
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia", "Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
"Indonesia","Indonesia","Indonesia", "Indonesia",
"Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
          "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
                                       
                                       
          ],
                    
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

ValueError: arrays must all be same length

## Low-Income Countries Dataset

### Countries and Years Variables

In [10]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df1 = pd.DataFrame({"Countries": ["India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India", "India", "India", "India", "India", "India", "India", "India", "India", "India", 
            "India",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
          "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", 
            "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", "Myanmar", 
            "Myanmar"],
                    
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [44]:
# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc1 = np.linspace(21.5, 52.7, 63)
# Round to 2 decimal places and assign new variable

#dd = pd.DataFrame(rng.poisson(23, len(50)), index=perc1,
 #                columns=["Prevalence"])
# India
#dd

### Consumption (Per Capita) Variable

In [45]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita1 = rng.integers(low=500, high=2000, size=(63,))

### Government Control Rating (0.0 - 6.0)

In [46]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating1 = rng.uniform(low=0.5, high= 3.0, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate1 = rating1.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [47]:
# Create dataframe of numeric variables using ravel() method
temp_df2 = pd.DataFrame({'Prevelance (%)': prevelance1.ravel(), 
                     'Consumption': per_capita1.ravel(), 'Control Rating': control_rate1.ravel(),  })

### Degree of Influence of Tobacco Lobbying

The list of categories for the Influence variable has not yet bee

In [48]:
# Create a third dataframe for the Influence variable leaving the square brackets empty - categories will
# populated based off Control Rating variable values
temp_df3 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

### Concatenate Dataframes into Dataset for Low-Income Countries

In [49]:
# Concatenate the dataframes along the x-axis, setting the join parameter to 'inner'
dataset1 = pd.concat([temp_df1, temp_df2, temp_df3], axis=1, join='inner')
dataset1.head(5)

  Countries  Years  Prevelance (%)  Consumption  Control Rating Influence
0     India   2000            21.5         1828             1.6  Moderate
1     India   2001            22.0         1099             1.3  Moderate
2     India   2002            22.5         1259             2.1  Moderate
3     India   2003            23.0         1131             2.7  Moderate
4     India   2004            23.5         1644             1.7  Moderate

#### Altering the 'Influence' Variable

In the first 10 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [50]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of Control Rating

dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Weak"
dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Moderate"
dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Significant"
dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Strong"
dataset1.head(8)

# Print the top 10 rows
dataset1[['Control Rating', 'Influence']].head(10)

   Control Rating    Influence
0             1.6     Moderate
1             1.3     Moderate
2             2.1     Moderate
3             2.7  Significant
4             1.7     Moderate
5             1.1     Moderate
6             1.8     Moderate
7             2.0     Moderate
8             1.0     Moderate
9             2.3     Moderate

Looking at the first 8 values for India, we can see that the Influence variable is determined based off the values from Control Rating.

In [51]:
dataset1.head(5)

  Countries  Years  Prevelance (%)  Consumption  Control Rating    Influence
0     India   2000            21.5         1828             1.6     Moderate
1     India   2001            22.0         1099             1.3     Moderate
2     India   2002            22.5         1259             2.1     Moderate
3     India   2003            23.0         1131             2.7  Significant
4     India   2004            23.5         1644             1.7     Moderate

#### Altering the 'Influence' Variable

In the first 20 lines of data printed above, the Influence variable has not yet been made dependent on the Control Rating variable. 

In order to do this we use Pandas .loc() method and enter the parameters of 'Control Rating' that the 'Influence' column should interpret. 

For e.g. if control rate is greater than or equal to 1, but less than 2.5, the 'Influence' datapoint for that row should read "Significant". This indicates that countries with a Contrl Rating of 1.0-2.5 exhibit a significant level of influence from the tobacco industry.

In [52]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of 
#dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Strong"
#dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Significant"
#dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Moderate"
#dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Moderate"
#dataset1

## High Income Countries Dataset

### Countries and Years Variables

In [22]:
# list containing 61 strings of countrys (beginning with just 3)
temp_df4 = pd.DataFrame({"Countries": ["Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  "Austria",  
"Austria",  "Austria", "Austria", "Austria",
                                  
"France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", "France", 
"France", "France", "France", "France", "France", "France", "France", "France", "France", 
                    
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", 
"Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden", "Sweden"],
                    
        
           "Years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })

### Prevelance Variable

In [23]:
# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc2 = rng.uniform(low=5, high=38.5, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance2 = perc2.round(1)

### Consumption (Per Capita) Variable

In [24]:
# Generate 60 random integers in the range 500-200 to no. of cigarettes consumed per person (15 years or older)
per_capita2 = rng.integers(low=100, high=2000, size=(63,))

### Government Control Rating (0.0 - 5.0)

In [25]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=3.5, high= 4.7, size=(63,) )
# Round to 1 decimal place and assign new variable
control_rate2 = rating2.round(1)

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [26]:
# Create dataframe of numeric variables using ravel() method
temp_df5 = pd.DataFrame({'Control Rating': control_rate2.ravel(), 'Prevelance (%)': prevelance2.ravel(), 
                     'Consumption': per_capita2.ravel() })

### Degree of Influence of Tobacco Lobbying

In [27]:
temp_df6 = pd.DataFrame({"Influence": ["Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate", "Moderate", "Moderate","Moderate",
                       "Moderate", "Moderate",
                       "Significant", "Significant", "Significant", "Significant", "Significant", 
                       "Significant", "Significant", 
                       "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong", 
                       
                    "Moderate", "Moderate", "Moderate", "Moderate", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Significant", "Significant", "Significant", "Significant", 
                    "Significant", "Significant", "Strong", "Strong", "Strong", "Strong", "Strong", "Strong"] } )

In [28]:
# Concatenate the dataframes along the x-axis
dataset2 = pd.concat([temp_df4, temp_df6, temp_df5], axis=1, join='inner')
dataset2

   Countries  Years Influence  Control Rating  Prevelance (%)  Consumption
0    Austria   2000  Moderate             4.7            34.0         1964
1    Austria   2001  Moderate             4.4             7.0          626
2    Austria   2002  Moderate             4.1            17.8          342
3    Austria   2003  Moderate             4.0            19.4         1228
4    Austria   2004  Moderate             4.6            21.4          239
..       ...    ...       ...             ...             ...          ...
58    Sweden   2016    Strong             3.7            34.3         1686
59    Sweden   2017    Strong             4.0            20.8          260
60    Sweden   2018    Strong             4.4            35.6          825
61    Sweden   2019    Strong             4.0            30.7         1066
62    Sweden   2020    Strong             4.2            35.7          718

[63 rows x 6 columns]

In [29]:
pd.set_option('display.max_rows', 200)

frames = [dataset1, dataset2]

v = pd.concat(frames)
v

    Countries  Years  Prevelance (%)  Consumption  Control Rating    Influence
0       India   2000            41.4         1434             2.9  Significant
1       India   2001            29.9         1370             0.9         Weak
2       India   2002            22.8         1848             2.9  Significant
3       India   2003            22.0          948             2.7  Significant
4       India   2004            46.9         1853             2.6  Significant
5       India   2005            50.0         1507             1.7     Moderate
6       India   2006            40.4         1835             1.1     Moderate
7       India   2007            44.3          799             2.5  Significant
8       India   2008            38.5         1637             2.8  Significant
9       India   2009            50.7         1913             1.2     Moderate
10      India   2010            47.0          572             1.8     Moderate
11      India   2011            21.6         1047             1.6     Moderate
12      India   2012            48.3         1454             2.8  Significant
13      India   2013            22.5          658             0.6         Weak
14      India   2014            44.3         1265             2.3     Moderate
15      India   2015            27.0         1443             2.0     Moderate
16      India   2016            48.4         1645             0.6         Weak
17      India   2017            38.4         1890             2.3     Moderate
18      India   2018            30.9         1114             0.5         Weak
19      India   2019            34.7         1160             2.4     Moderate
20      India   2020            22.4         1211             1.8     Moderate
21  Indonesia   2000            25.4         1931             2.8  Significant
22  Indonesia   2001            42.4          793             0.7         Weak
23  Indonesia   2002            41.7         1249             2.6  Significant
24  Indonesia   2003            40.7          574             0.7         Weak
25  Indonesia   2004            33.5         1137             1.4     Moderate
26  Indonesia   2005            52.6         1917             1.6     Moderate
27  Indonesia   2006            52.1         1430             2.9  Significant
28  Indonesia   2007            42.9         1024             1.9     Moderate
29  Indonesia   2008            41.8         1992             1.1     Moderate
30  Indonesia   2009            43.0         1405             1.1     Moderate
31  Indonesia   2010            33.6         1923             2.7  Significant
32  Indonesia   2011            25.7          524             1.1     Moderate
33  Indonesia   2012            44.0         1190             0.8         Weak
34  Indonesia   2013            37.9         1752             1.2     Moderate
35  Indonesia   2014            31.2         1636             2.0     Moderate
36  Indonesia   2015            36.7         1111             1.9     Moderate
37  Indonesia   2016            49.3         1246             2.5  Significant
38  Indonesia   2017            50.6         1130             1.9     Moderate
39  Indonesia   2018            32.7         1293             1.2     Moderate
40  Indonesia   2019            39.3          845             1.5     Moderate
41  Indonesia   2020            31.5         1678             2.5  Significant
42    Myanmar   2000            40.0          616             2.1     Moderate
43    Myanmar   2001            32.0         1121             2.9  Significant
44    Myanmar   2002            33.7          922             1.4     Moderate
45    Myanmar   2003            49.3         1601             1.9     Moderate
46    Myanmar   2004            28.6         1623             2.0     Moderate
47    Myanmar   2005            40.9         1566             2.6  Significant
48    Myanmar   2006            24.1         1886             0.9         Weak
49    Myanmar   2007            47.5         1898             1.5     Moderate
50    Myanmar   2008            46.1          776             2.8  Significant
51    Myanmar   2009            29.0          672             0.6         Weak
52    Myanmar   2010            48.8          698             2.6  Significant
53    Myanmar   2011            23.3         1593             1.5     Moderate
54    Myanmar   2012            32.0         1955             2.6  Significant
55    Myanmar   2013            26.2         1891             0.5         Weak
56    Myanmar   2014            35.6         1502             1.4     Moderate
57    Myanmar   2015            46.3         1951             0.7         Weak
58    Myanmar   2016            28.7         1806             2.1     Moderate
59    Myanmar   2017            23.1          522             1.2     Moderate
60    Myanmar   2018            34.1          678             2.3     Moderate
61    Myanmar   2019            27.7         1795             2.9  Significant
62    Myanmar   2020            24.3          623             0.8         Weak
0     Austria   2000            34.0         1964             4.7     Moderate
1     Austria   2001             7.0          626             4.4     Moderate
2     Austria   2002            17.8          342             4.1     Moderate
3     Austria   2003            19.4         1228             4.0     Moderate
4     Austria   2004            21.4          239             4.6     Moderate
5     Austria   2005            37.7          346             3.6     Moderate
6     Austria   2006            31.0          233             4.4     Moderate
7     Austria   2007            15.3          500             4.4     Moderate
8     Austria   2008            14.0         1750             4.5     Moderate
9     Austria   2009            33.9         1378             3.9     Moderate
10    Austria   2010            34.5         1304             4.5     Moderate
11    Austria   2011            22.1         1972             3.8     Moderate
12    Austria   2012            16.5         1043             3.9  Significant
13    Austria   2013            38.3          175             4.0  Significant
14    Austria   2014            15.6          410             4.1  Significant
15    Austria   2015            11.1          594             3.6  Significant
16    Austria   2016            34.5         1380             4.0  Significant
17    Austria   2017            32.2          778             3.5  Significant
18    Austria   2018            27.4          704             4.4  Significant
19    Austria   2019            37.1          313             4.5       Strong
20    Austria   2020            36.0         1450             3.7       Strong
21     France   2000            30.1          146             4.3     Moderate
22     France   2001            33.8          974             4.5     Moderate
23     France   2002            13.3         1514             4.7     Moderate
24     France   2003             9.7         1064             4.5     Moderate
25     France   2004            27.4         1405             4.0  Significant
26     France   2005            28.9         1600             4.7  Significant
27     France   2006            10.6          527             4.7  Significant
28     France   2007            18.3          276             4.1  Significant
29     France   2008            35.5          207             4.4  Significant
30     France   2009            23.8         1199             4.6  Significant
31     France   2010            24.4          601             4.1  Significant
32     France   2011            11.5          474             4.5  Significant
33     France   2012            22.6         1496             4.3  Significant
34     France   2013            22.5         1635             3.9  Significant
35     France   2014             8.0         1913             4.4  Significant
36     France   2015            37.9         1028             4.2       Strong
37     France   2016            24.1         1092             3.6       Strong
38     France   2017             5.2         1978             4.0       Strong
39     France   2018            30.9         1057             3.6       Strong
40     France   2019            37.8          447             4.1       Strong
41     France   2020            24.8          585             4.0       Strong
42     Sweden   2000            15.7         1929             4.0     Moderate
43     Sweden   2001            11.3          182             4.2     Moderate
44     Sweden   2002            27.5         1621             3.6     Moderate
45     Sweden   2003            11.5         1330             4.6     Moderate
46     Sweden   2004            24.4         1014             4.3  Significant
47     Sweden   2005            25.2         1683             4.5  Significant
48     Sweden   2006            37.2         1645             4.6  Significant
49     Sweden   2007             7.4          935             4.2  Significant
50     Sweden   2008            21.7         1245             3.5  Significant
51     Sweden   2009            29.9         1551             4.4  Significant
52     Sweden   2010            10.9         1344             4.2  Significant
53     Sweden   2011            18.0         1022             4.5  Significant
54     Sweden   2012             7.1         1836             4.1  Significant
55     Sweden   2013            29.3         1777             4.5  Significant
56     Sweden   2014             7.9          224             4.7  Significant
57     Sweden   2015            18.2         1139             3.9       Strong
58     Sweden   2016            34.3         1686             3.7       Strong
59     Sweden   2017            20.8          260             4.0       Strong
60     Sweden   2018            35.6          825             4.4       Strong
61     Sweden   2019            30.7         1066             4.0       Strong
62     Sweden   2020            35.7          718             4.2       Strong

In [30]:
# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
#temp_df7 = list(zip(*[iter(dataset1)]))
temp_df8 = pd.DataFrame(dataset1[1:], columns=dataset2[1])

# Create a variable listing both dataframes together
#dataframes = [temp_df1, temp_df2]

KeyError: 1

In [ ]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating2 = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 1 decimal place1 and assign new variable
control_rate2 = rating2.round(1)
print(control_rate)

In [73]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [75]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

array([0.93263736, 0.67367287, 0.75999104, 0.85245628, 0.9421442 ,
       0.99271363, 0.74480191, 0.98886243, 0.90445091, 0.95902654,
       0.76381203, 0.81018355, 0.95734795, 0.8559463 , 0.95674811,
       0.95965258, 0.99085017, 0.86183174, 0.90735769, 0.99166627,
       0.81141999, 0.98418397, 0.93579075, 0.74768277, 0.93964497,
       0.83586822, 0.5750916 , 0.75846416, 0.86681792, 0.8783417 ,
       0.95895872, 0.87649011, 0.45892769, 0.96844315, 0.98594206,
       0.88844405, 0.65241467, 0.59282069, 0.7943262 , 0.7955601 ,
       0.7740449 , 0.81373338, 0.55286014, 0.76675695, 0.92199839,
       0.87401611, 0.78084473, 0.99122177, 0.74131548, 0.91717476,
       0.96578138, 0.9017754 , 0.97468701, 0.85907645, 0.91812133,
       0.84821491, 0.73957688, 0.89054105, 0.74069257, 0.84916594,
       0.9610006 , 0.76757621, 0.75756159])

In [76]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

array([0.82552756, 0.37607861, 0.04120355, 0.07909776, 1.92404114,
       0.13688172, 0.02823741, 0.08614592, 0.26414697, 1.42498149,
       1.13635284, 1.07031822, 0.84672716, 0.08326833, 0.36889453,
       0.68510596, 0.06102769, 1.86076011, 1.13450045, 1.72759474,
       0.81503785, 0.66207993, 1.04627466, 0.04519369, 0.06804576,
       0.50032348, 0.5346236 , 0.13084774, 0.38677881, 0.46788939,
       1.9433741 , 0.10282244, 0.13590107, 0.89917865, 0.6826425 ,
       0.50492212, 0.65613004, 0.14680868, 0.262814  , 0.07769597,
       0.02105276, 2.47520067, 0.01052759, 0.28216626, 0.58905156,
       2.00373011, 0.50037571, 0.24641588, 0.09301193, 0.04016574,
       1.25267637, 0.38386941, 1.44304071, 0.0747324 , 0.16808262,
       0.15685311, 1.44632417, 0.8713005 , 0.35883243, 0.0818599 ,
       3.67222748, 0.07212923, 0.06720004])

## High-Income Countries Dataset

In [35]:


#print(df3)

# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
perc = rng.uniform(low=0.5, high=13.3, size=(63,))
# Round to 2 decimal places and assign new variable
prevelance = perc.round(1)



# Generate 60 random integers in the range 45-405 to represent profits (in billions)
profits = rng.integers(low=45, high=405, size=(63,))

In [36]:
rating1 = rng.uniform(low=0.5, high= 0.9, size=(63,) )
rate1 = rating1.round(1)

In [37]:
rating2 = rng.uniform(low=1.5, high= 1.9, size=(63,) )
rate2 = rating2.round(1)

In [38]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [39]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 2 decimal places and assign new variable
control_rate = rating.round(1)

In [40]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

array([0.69492377, 0.69931311, 0.93073459, 0.86694533, 0.68917497,
       0.84430396, 0.6455113 , 0.99750621, 0.83641107, 0.91437195,
       0.94935707, 0.93159295, 0.93373238, 0.94135264, 0.69521187,
       0.80186601, 0.79590907, 0.64349973, 0.6493439 , 0.84253326,
       0.77190835, 0.93151743, 0.99030696, 0.88227516, 0.48782422,
       0.67478637, 0.91136636, 0.96402173, 0.8387655 , 0.66546291,
       0.88787321, 0.91485294, 0.83624961, 0.98608948, 0.71335155,
       0.99980283, 0.85736768, 0.97882788, 0.86737528, 0.93692223,
       0.83418644, 0.97363037, 0.93141446, 0.74348672, 0.82254794,
       0.9698168 , 0.92461615, 0.97193016, 0.95421702, 0.63928061,
       0.95004521, 0.96057981, 0.87264717, 0.71232539, 0.85187994,
       0.97226447, 0.88054171, 0.77234538, 0.99876702, 0.67873199,
       0.93028898, 0.73101966, 0.96068092])

In [41]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

array([9.65380400e-01, 4.06919119e-01, 1.16115109e-01, 6.95092469e-01,
       4.76035470e-01, 3.28578832e-01, 3.03246336e-01, 2.61021608e-01,
       6.37693459e-02, 5.10606286e-01, 4.55285019e-01, 6.59405387e-02,
       1.50369678e-01, 1.47285071e-01, 3.52974957e-01, 1.07161101e-03,
       9.20025466e-01, 3.66078153e-01, 2.90415095e-01, 2.92456967e-01,
       8.45538110e-01, 3.69055278e-01, 1.02489225e-02, 5.30514743e-01,
       2.99995284e-02, 2.63503832e-02, 4.40732885e-01, 1.89821508e-01,
       3.09255208e-01, 3.97016370e-01, 5.62780509e-02, 2.81008882e-01,
       2.01299186e+00, 9.58147039e-01, 5.02270626e-01, 7.73653686e-01,
       5.47163377e-02, 2.02664104e-01, 4.31642203e-01, 2.56412565e-01,
       1.70204703e-01, 2.99259702e-01, 8.03643779e-01, 8.29466459e-01,
       3.35539086e-01, 1.34244710e+00, 4.55025455e-01, 1.77948340e+00,
       9.04177598e-01, 3.29882164e-01, 2.67697028e-01, 5.33055303e-01,
       2.35690002e+00, 1.31380324e-01, 7.02260878e-02, 2.01596555e-01,
       1.06805157e-01, 1.64171486e-01, 9.60004497e-02, 1.56136100e+00,
       8.89606648e-01, 4.65922198e-01, 2.12364712e-01])

In [42]:
# Create dataframe of numeric variables using ravel() method
df1 = pd.DataFrame({'Prevelance (%)': prevelance.ravel(), 'Control Rating': control_rate.ravel(),
                     'Profits': profits.ravel() })

# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
data = list(zip(*[iter(df3)]))
df2 = pd.DataFrame(data[1:], columns=data[0])

# Create a variable listing both dataframes together
dataframes = [df3, df1]

# Concatenate the dataframes along the x-axis
result = pd.concat([df3, df1], axis=1, join='inner')
print(result)

   Countries  Years  Prevelance (%)  Control Rating  Profits
0      India   2000            12.8             2.4      196
1      India   2001             6.4             3.0       62
2      India   2002            12.7             0.5      248
3      India   2003             0.9             1.2       76
4      India   2004             1.3             4.0      397
..       ...    ...             ...             ...      ...
58   Myanmar   2016             7.1             4.5      100
59   Myanmar   2017             5.6             4.1      112
60   Myanmar   2018            10.6             4.3      402
61   Myanmar   2019             6.5             0.5      256
62   Myanmar   2020             9.9             1.5      375

[63 rows x 5 columns]

In [43]:
# Create dataframe of numeric variables using ravel() method
df1 = pd.DataFrame({'deaths': [deaths],
                    'rate': [rate],
                   'profits': [profits] })
                    
                    
                    #deaths.ravel(), 'rate': rate.ravel,
                     #'profits': profits.ravel() })


#print(df1)

# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
#data = list(zip(*[iter(country)]))
#df2 = pd.DataFrame(data[1:], columns=data[0])

# Create a variable listing both dataframes together
dataframes = [df3, df1]

# Concatenate the dataframes along the x-axis
result = pd.concat([df3, df1], axis=1, join='inner')
print(result)

  Countries  Years                                             deaths  \
0     India   2000  [8.7, 4.0, 1.0, 0.7, 10.9, 12.2, 8.3, 9.8, 7.5...

                                                rate  \
0  [4.96, 3.9, 2.43, 2.11, 4.38, 0.44, 3.54, 3.94...

                                             profits
0  [196, 62, 248, 76, 397, 230, 196, 189, 400, 31...

In [48]:
# list containing 61 strings of countrys (beginning with just 3)
df3 = pd.DataFrame({"countries": ["Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan",
           "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan",
           "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan",
           "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia",
          "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", "Indonesia", 
          "Indonesia","Indonesia","Indonesia", "Indonesia",
          "Ireland", "Ireland", "Ireland", "Ireland", "Ireland", "Ireland", "Ireland", "Ireland",
          "Ireland", "Ireland",
          "Ireland", "Ireland", "Ireland", "Ireland", "Ireland", "Ireland", "Ireland", "Ireland",
          "Ireland", "Ireland", "Ireland"],
           "years": [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
         2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
         2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] })
                   
#print(df3)

# Use np.uniform() to create a range of random 60 floats to represent the deaths per 100000
death = rng.uniform(low=0.5, high=13.3, size=(63,))
# Round to 2 decimal places and assign new variable
deaths = death.round(1)



# Generate 60 random integers in the range 45-405 to represent profits (in billions)
profits = rng.integers(low=45, high=405, size=(63,))

In [8]:
rating1 = rng.uniform(low=0.5, high= 0.9, size=(63,) )
rate1 = rating1.round(1)

In [9]:
rating2 = rng.uniform(low=1.5, high= 1.9, size=(63,) )
rate2 = rating2.round(1)

In [10]:
x = rng.integers(low=2.5, high=4.8, size=(63,))
y = a*x**(a-1.)

In [11]:
# Use np.uniform() to create a range of random 60 floats to represent the rating of restrictions against smoking companies
rating = rng.uniform(low=0.01, high=4.99, size=(63,))
# Round to 2 decimal places and assign new variable
rate = rating.round(2)

In [12]:
a = 5. # shape
samples = 100
s = np.random.power(6, 63)
s

array([0.92170334, 0.97170683, 0.88231392, 0.90987407, 0.94253798,
       0.94253706, 0.9026884 , 0.93492449, 0.8099636 , 0.98863849,
       0.96764242, 0.74992656, 0.90656386, 0.84737262, 0.93271523,
       0.79797171, 0.78574231, 0.9863003 , 0.86224809, 0.93587577,
       0.988303  , 0.87468021, 0.95259339, 0.86516856, 0.99623041,
       0.83266812, 0.90609247, 0.85042284, 0.89627465, 0.86628784,
       0.96205491, 0.94939612, 0.73073491, 0.7851296 , 0.54511911,
       0.88284216, 0.95833985, 0.76598721, 0.99019291, 0.8516341 ,
       0.99017827, 0.94819151, 0.84119945, 0.53286211, 0.99956187,
       0.64827476, 0.8070711 , 0.94164924, 0.62373052, 0.71779273,
       0.92683596, 0.97573042, 0.79555651, 0.74514517, 0.98338944,
       0.78658196, 0.76074331, 0.74475996, 0.71090579, 0.98749334,
       0.92256666, 0.90031145, 0.96161944])

In [13]:
a = 63. # shape
samples = (2.5, 4.4)
s = rng.exponential(scale=0.6, size=63)
s

array([0.24025112, 0.42293008, 0.42561094, 0.10685883, 0.38869525,
       0.53425124, 0.63615477, 2.09151956, 0.24950802, 0.08695003,
       0.16879019, 0.11846049, 1.64122504, 0.32575474, 0.18438887,
       0.31198908, 1.34094755, 0.54420463, 0.81395315, 0.52756186,
       0.12763587, 0.15127475, 0.12587199, 0.17333026, 0.09867235,
       0.18020034, 0.7968866 , 0.01375632, 0.13379955, 0.71149551,
       0.16831487, 0.54767649, 0.24046995, 0.12582019, 2.96029113,
       0.99486465, 0.43837008, 1.14959672, 1.45415009, 1.24195596,
       0.06141651, 0.96184977, 0.78849913, 1.97730921, 0.08255622,
       0.05654937, 0.02015871, 0.47114765, 1.37347569, 0.53692721,
       0.37575651, 0.1674567 , 0.88966929, 1.08703287, 0.50889954,
       1.11941657, 0.38538824, 0.20301705, 0.00587117, 0.29280928,
       0.64312243, 0.45036594, 2.19550336])

In [14]:
# Create dataframe of numeric variables using ravel() method
df1 = pd.DataFrame({'deaths': deaths.ravel(), 'rate': rate.ravel(),
                     'profits': profits.ravel() })

# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
data = list(zip(*[iter(df3)]))
df2 = pd.DataFrame(data[1:], columns=data[0])

# Create a variable listing both dataframes together
dataframes = [df3, df1]

# Concatenate the dataframes along the x-axis
result = pd.concat([df3, df1], axis=1, join='inner')
print(result)

   countries  years  deaths  rate  profits
0      India   2000     8.7  1.39      269
1      India   2001     4.0  1.81      253
2      India   2002     1.0  2.88      368
3      India   2003     0.7  2.64      152
4      India   2004    10.9  1.78      369
..       ...    ...     ...   ...      ...
58   Myanmar   2016     3.5  2.56      358
59   Myanmar   2017     1.2  0.98       50
60   Myanmar   2018     5.7  3.89       87
61   Myanmar   2019     3.0  4.33      355
62   Myanmar   2020     1.7  1.58       74

[63 rows x 5 columns]

In [ ]:
# Create dataframe of numeric variables using ravel() method
df1 = pd.DataFrame({'deaths': [deaths],
                    'rate': [rate],
                   'profits': [profits] })
                    
                    
                    #deaths.ravel(), 'rate': rate.ravel,
                     #'profits': profits.ravel() })


#print(df1)

# Create dataframe for list of strings (countrys) - Split the list to have the first element as a column and the rest as 
# data 
#data = list(zip(*[iter(country)]))
#df2 = pd.DataFrame(data[1:], columns=data[0])

# Create a variable listing both dataframes together
dataframes = [df3, df1]

# Concatenate the dataframes along the x-axis
result = pd.concat([df3, df1], axis=1, join='inner')
print(result)